@import url('https://fonts.googleapis.com/css?family=Montserrat');

.page_text {
    font-family: Montserrat;
    font-size: 20px;
}

.centered {
    text-align: center !important;
    vertical-align: center !important;
    float: none;
    horiz-align: center;
}

.wrapper {
    text-align: center;
}
.wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.wrapper li {
    float: left;
    padding: 2px 5px;
    border: 1px solid black;
}